
.off{
	
	padding: 9px 0px 10px 0px !important;
    width: 39px !important;
    height: 37px !important;
}
.product-grid-item.card:hover{
	box-shadow: 0 2px 17px 0 rgba(0,0,0,.09);
    z-index: 11;
}
.p-grid{
	padding:20px;
}
.card{
	border: 1px solid #ebebeb !important;
}
a:hover{
	text-decoration: none !important;
}
.p-button.p-component {
    height: 20px;
	border:0px;
}
.p-component.p-inputnumber-input.p-filled{
	border: 3px solid #1982ef;
}