
.single_product
{
	/*padding-top: 110px;*/
	padding-bottom: 140px;
}
.image_list li
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 165px;
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	margin-bottom: 15px;
	cursor: pointer;
	padding: 15px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	overflow: hidden;
}
.image_list li:last-child
{
	margin-bottom: 0;
}
.image_list li:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.image_list li img
{
	max-width: 100%;
}
.image_selected
{
	/*display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% + 15px);
	height: 525px;
	-webkit-transform: translateX(-15px);
	-moz-transform: translateX(-15px);
	-ms-transform: translateX(-15px);
	-o-transform: translateX(-15px);
	transform: translateX(-15px);
	border: solid 1px #e8e8e8;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	padding: 15px;*/
}
.image_selected img
{
	max-width: 100%;
}
.product_description
{
	padding-left: 50px;
}
.product_category
{
	font-size: 12px;
	color: rgba(0,0,0,0.5);
}
.product_name
{
	font-size: 30px;
	font-weight: 500;
	margin-top: 11px;
}
.product_rating
{
	margin-top: 7px;
}
.product_rating i
{
	margin-right: 4px;
}
.product_rating i::before
{
	font-size: 13px;
}
.product_text
{
	margin-top: 27px;
}
.product_text p:last-child
{
	margin-bottom: 0px;
}
.order_info
{
	margin-top: 53px;
}
.product_quantity
{
	width: 182px;
	height: 50px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	overflow: hidden;
	padding-left: 25px;
	float: left;
	margin-right: 30px;
}
.product_quantity span
{
	display: block;
	height: 50px;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	line-height: 50px;
	float: left;
}
.product_quantity input
{
	display: block;
	width: 30px;
	height: 50px;
	border: none;
	outline: none;
	font-size: 16px;
	font-weight: 300;
	color: rgba(0,0,0,0.5);
	text-align: left;
	padding-left: 9px;
	line-height: 50px;
	float: left;
}


.button_container
{
	margin-top: 43px;
}
.cart_button
{
	display: inline-block;
	border: none;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
	outline: none;
	cursor: pointer;
}
.cart_button:focus
{
	outline: none;
}
.product_fav
{
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #FFFFFF;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	margin-left: 36px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.product_fav:hover
{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}
.product_fav i
{
	line-height: 36px;
	color: #cccccc;
}
.product_fav.active i
{
	color: #df3b3b;
}
