
.off{
	
	padding: 5px 0px 10px 0px !important;
    width: 30px !important;
    height: 28px !important;
}
.product-grid-item.card:hover{
	box-shadow: 0 2px 17px 0 rgba(0,0,0,.09);
    z-index: 11;
}
.p-grid{
	padding:20px;
}
.card{
	border: 1px solid #ebebeb !important;
}