.p-organizationchart.p-component div {
  font-family: 'iranyekanwebmedium';
}

.department-cfo{
  background: #bf7301 !important;
  color: #fff !important;
}
.department-first-child{
  background: #01bf44 !important;
  color: #fff !important;
}
.department-second-child{
  background: #bf0196 !important;
  color: #fff !important;
}